//This is an example file how keystore.properties should look like in order to build release app
keyStore=release.keystore
keyStorePassword=mysecretpassword
keyAlias=myapp-release
keyAliasPassword=mysecretpassword